.div-top {
    height: 8vh;
    display: flex;
    transition: background 1s ease;

    position: relative;
    z-index: auto;

    overflow: visible
}

.div-top > ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.space {
    flex: 1;
}

.div-top > ul > li {
    margin: 3px 10px;
}

.iconItem {
    z-index: 10;
    position: relative;
}